<nav class="side_nav">
    <ul>
        <li><a href="" style="all: unset;"><i id="navHome" class="fi fi-rs-home"></i></a></li>
        <li><a href="" style="all: unset;"><i id="navStorage" class="fi fi-rs-folder"></i></a></li>
        <li><a href="" style="all: unset;"><i id="navSell" class="fi fi-rr-dollar"></i></a></li>
        <li><a href="" style="all: unset;"><i id="navHistory" class="fi fi-rr-time-past"></i></a></li>
        <li><a href="" style="all: unset;"><i id="navWorkers" class="fi fi-rr-users-alt"></i></a></li>
        <li><a href="" style="all: unset;"><i id="navSetting" class="fi fi-rr-settings-sliders"></i></a></li>
    </ul>
</nav>