<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %> 

</head>

<body class="bg-dark text-light text-capitalize">
  
  <%- include('./partials/nav.ejs') %> 



  <div class="">
    <div class="row justify-content-center">
      <h3>this page not found</h3>
    </div>
    <div class="row justify-content-center align-items-center">
      <img src="/img/404.png" class="rounded-circle" style="width: 350px;" alt="">
    </div>
    <div class="row justify-content-center mt-2">
      <a href="/" class="btn btn-primary">back to home page</a>
    </div>
  </div>






  <%- include('./partials/js.ejs') %> 
</body>

</html>